.App {
  max-width: 600px;
  margin: 40px auto;
}
button {
  background: none;
  border: 2px solid #c23866; 
  padding: 10px 20px; 
  border-radius: 4px;
  color: #000000;
  font-weight: bold;
  cursor: pointer;
  font-size: 1.2em; 
  transition: background-color 0.3s ease, color 0.3s ease; 
}

button:hover {
  background: #fffeff; 
  color: #000000; 
}

.card-grid {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 15px;
}
