
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Josefin+Sans&family=Montserrat:wght@500;700&family=Poppins:ital,wght@1,300;1,500;1,600&display=swap');



body {
  font-family: "Josefin Sans", sans-serif;
  margin: 0;
  text-align: center;
  font-size: 1.5rem;
  color: #000000; 
  background-image: linear-gradient(to bottom, #ddcd88, #ffffff);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  
}
